.input-container {
  input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    &:focus {
      box-shadow: none;
    }
  }
}

.gh-btn {
  border: none;
  padding: 5px 10px;
}

.del {
  &:hover {
    i {
      color: red;
      transition: 0.3s;
    }
  }
}

table.table {
  margin-bottom: 0;
  th {
    border: 0.5px solid grey;
    padding-bottom: 0;
  }
  tr {
    &:nth-child(even) {
      background-color: #eef6ff;
    }
  }
  td {
    padding: 0;
    border: 0.5px solid grey;
    &:has(button.del) {
      border: none;
      @media only print {
        display: none;
      }
    }
  }
  input.form-control {
    border: none;
    border-radius: 0;
    background-color: transparent;
    &:focus {
      box-shadow: none;
    }
    &:read-only {
      background-color: transparent;
    }
  }
}
#gen-container {
  #generate {
    border: none;
    padding: 5px;
    font-size: 2rem;
    color: #9a9a9a;
    background-color: #eeeeee;
  }
  @media only print {
    display: none;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

@media only print {
  #print {
    display: none;
  }
}